@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@import 'tailwind-animations';

body{
    /* background-color: black; */
    /* color: white; */
    background: #0B111E;
    font-family:"Inter", sans-serif;
}

@theme{
    --font-inter: "Inter", sans-serif;
    --background-color: #0B111E;
}

h1, h2, h3, h4{
    color: #A395E9;
}

p{
    color: #5C6169;
}

@keyframes blurred-fade-in {
  0% {
    opacity: 0;
    filter: blur(30px);
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

.animate-blurred-fade-in {
  animation: blurred-fade-in 3s ease forwards;
}