@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@import 'tailwind-animations';

body{
    /* background-color: black; */
    /* color: white; */
    background: #0B111E;
    font-family:"Inter", sans-serif;
}

@theme{
    --breakpoint-*: initial ;
    --breakpoint-sm:576px ;
    --breakpoint-md:768px ;
    --breakpoint-lg:992px ;
    --breakpoint-xl:1170px ;
    --font-inter: "Inter", sans-serif;
    --background-color: #0B111E;
    --color-primariy:#A395E9;
    --color-secondary:#A395E9;
    
}

h1, h2, h3, h4{
    color: #A395E9;
}

p{
    color: #5C6169;
}

@keyframes blurred-fade-in {
  0% {
    opacity: 0;
    filter: blur(30px);
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

.animate-blurred-fade-in {
  animation: blurred-fade-in 3s ease forwards;
}

/* timeline parent */
.timeline-view {
  view-timeline-name: --zoom;
  view-timeline-axis: block;
}

/* zoom-in animation */
.animate-zoom-in {
  opacity: 0;
  transform: scale(0.85);

  animation: zoomIn linear both;
  animation-timeline: --zoom;

  /* cover based range */
  animation-range: entry 0% cover 30%;
}

@keyframes zoomIn {
  to {
    opacity: 1;
    transform: scale(1);
  }
}
